<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>

<h2>Редактировать пользователя</h2>

<!-- Форма отправляется POST-запросом на /users/edit -->
<form th:method="POST" th:action="@{/users/updit}" th:object="${user}">
    <!-- Передаем ID пользователя как скрытое поле, чтобы обновить нужную запись -->
    <input type="hidden" name="id" th:value="*{id}" />

    <label for="name_edit">Имя: </label>
    <input type="text" th:field="*{name}" id="name_edit" />
    <br/>
    <label for="email_edit">Email: </label>
    <input type="text" th:field="*{email}" id="email_edit" />
    <br/>
    <input type="submit" value="Обновить" />
</form>

<br/>
<a th:href="@{/users}">Отмена</a>

</body>
</html>