<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<h2>Создать нового пользователя</h2>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name" />
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email" />
    <br/>
    <input type="submit" value="Создать" />
</form>

<br/>
<a th:href="@{/users}">Отмена</a>

</body>
</html>